* {
    outline: none;
}
 h1  {
    margin: 25px 0;
    width: 100%;
    text-align: center;
}



 p {
    color: rgba(0, 0, 0, 0.829);

}

section {
    padding-top: 20px ;
}

button {
    background: #000;
    width: 200px;
    border-radius: 5px;
    height: 63px;
    border: none;
    color: #FFFFFF;
    margin : 10px;
    transition: all 0.5s ease-in-out ;

}
 button:hover {
    background: #E21926 !important ;
    color: #FFFFFF;
}

.overlay {
    background: rgba(0, 0, 0,0.9);
    width: auto;
    height: 100%;
    margin: 0;
    padding: 15px; }


header {
    background-image: url("../imgs/header.jfif");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;
}

header .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    min-height: 500px;
}

nav {
    width: 100%;
    background-color: transparent;


}
nav a {
    color: #FFFFFF !important;
   

}
nav a:hover {
    color:#E21926 !important;
}


header .content  {
    height: 100%;
    margin-top: 5vw;
    padding: 3vw;
    font-size: larger;
    color: #FFFFFF !important;

}

header .content p {
    color: #FFFFFF !important;

}


header .content button {
    background: #E21926 !important ;

    width: 200px;
    border-radius: 5px;
    height: 63px;
    border: none;
    color: #FFFFFF;

}

header .content button:hover {
    background: #000;
    color: #FFFFFF;
}







/* Start WhyOurCompany section */

.whyOurCompany {
    padding-bottom: 25px;
    padding: 0;
}



.whyOurCompany .adv {
   
   
    box-shadow: 20px 20px 15px -26px #000 ;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    color:#C3CBD0;
    padding: 0;
    margin: 0;

}

.whyOurCompany p {
    color: #333333;
    padding: 0px 30px 30px 30px;

}


.whyOurCompany .padding {
  padding:0 20px;

}

.whyOurCompany h2 {
    font-size: 25px;
    color: #000;
    font-weight: 400;
    text-align: center;
}

.whyOurCompany i {
    font-size: 70px;
    text-align: center;
    width: 100%;
    color: #575954;
    padding: 0;
    margin: 0;
}

.whyOurCompany h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: monospace;
    text-align: center;
    width: 100%;
    background: #333431;
    height: 170px;
    line-height: 170px; 
     
    
}




/* Start Count Section ///////*/
.count {
    background: #333431;
    padding-top: 28px;
   padding-bottom: 28px;
    height: fit-content;
    color: #FFFFFF;
    
}

.count .text {
    text-align: center;
    width: 100%;
}



/*start why swiss ////////////*/
.whySwiss {
    padding: 20px 0;
    margin: 100px 0;
    position: relative;

}
.whySwiss .text p{
    background: #333431;
    padding: 20px;
    color: #C3CBD0;
    border-radius:10px ;

}

 
.whySwiss .img{

   background:url("../imgs/Swiss_flag.jpeg") no-repeat ;
   background-position: top;
   background-size: cover;
   background-attachment: fixed;
   padding: 0;
   height: inherit;
   padding: 0;
   border-radius: 10px ;

}

.whySwiss .overlay {
    background: rgba(0, 0, 0,0.3);
    border-radius: 10px;
}
.whySwiss button {
    background-color: #E21926;
}
.whySwiss button:hover {
    background-color: #000 !important;
}
.whySwiss2  {
    padding: 20px 0;
    background: #F2F2F2;

}


.whySwiss2 h1 {
    margin: 50px 0;
}
.whySwiss2 p {
    text-align: center;
     width: 100%;
     margin: 50px 0 ;
}

.whySwiss2 .inner {
    padding: 10px;
    background-color: #fff;
    line-height: 20px;
    font-size: 25px;
    margin: 20px;
    text-align: center;
}
.whySwiss2 .inner span {
    font-size: 20px;
    float: right;
    text-align: center;

}

.whySwiss2 img {
    border-radius: 50px ;

}

/*////////////////////start our uni */

.theUniv {
    padding: 20px 0;
}
/*////////////start testimonials */
.whatareyouwaitingfor {
    background: url("../imgs/uni.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    padding: 0;
    height: 600px;
    position: relative;
}

.whatareyouwaitingfor .overlay {
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    height: inherit;
}

.whatareyouwaitingfor .inner {
    text-align: center;
    padding: 100px;
}

.whatareyouwaitingfor h1 {
   color: white;
   font-weight: bold;
}

.whatareyouwaitingfor p {
    color: #C3CBD0;
    font-size: 30px;
    text-align: center;
}

.whatareyouwaitingfor button {
    background-color: #E21926;
    border: none;
}

.whatareyouwaitingfor button:hover {
    background-color: transparent !important;
    border: #E21926 2px solid !important;
}
/*///////Start Testimonial */

.Testimonials  {
    height: 500px ;
    background: #F2F2F2;
 
}
.Testimonials h1 {
    width: 100%;
    text-align: center;
}



.Testimonials button:hover {
    background-color: #000;
}

.Testimonials .setting {
     margin: 20px;
}
.Testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/*start Footer /////////////////////*/
footer {
    background: #333431;
    padding: 20px;
    color:#fff ;
}

footer .payment-security  {
    padding: 30px ;
    border: 5px dashed;
    border-radius: 50%;
    text-align: center;
}
footer .payment-security h1 {
    font-style: italic;
    font-family: fantasy;
    color: #E21926;
}
footer .payment-security h4{
    font-size: 20px;
    font-style: italic;
    font-family: fangsong;
}
footer a {
    color: rgba(255, 255, 255,0.5) !important;
    text-decoration: none;
}
footer i {
    color: rgba(255, 255, 255,0.5) !important;

}
footer p {
    color: rgba(255, 255, 255,0.5) !important;

}

footer .social a {
    margin: 10px;
}
footer.bottom-footer {
    width: 100%;
    background-color: #000;
    color: #C3CBD0 !important;
    padding: 10px;
}
footer.bottom-footer p {
    color: #C3CBD0 !important; 
}
footer.bottom-footer a {
    color: #C3CBD0 !important;
    font-family: sans-serif;
}


